root = true

[*.cs]

dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1000.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1313.severity = none
dotnet_diagnostic.SA1502.severity = none
dotnet_diagnostic.SA1202.severity = none
dotnet_diagnostic.SA1204.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = none

dotnet_diagnostic.SA1503.severity = warning
dotnet_diagnostic.SA1519.severity = warning
dotnet_diagnostic.SA1520.severity = warning

dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning

csharp_prefer_braces = true:warning
